@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.BG{
  background-image: url("./assets/images/back.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.login-container{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  height:100vh;
}

.login-container img{
  height: 30%;
  margin-left: 200px;
}

.login-form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:15px;
  width: auto;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  gap: 15px;
  margin-right: 200px;
}

.login-form-container input{
  width: 250px;
  font-size: 20px;
  border: none;
  border-radius: 7px;
  padding: 10px;
  padding-left: 15px;
}

.login-form-container input::placeholder{
  opacity: 40%;
}

.login-form-container input:focus{
  outline: none;
}

.login-form-container a{
  text-decoration: none;
  color: #0E0A4B;
}

.login-form-container button{
  font-size: 20px;
  padding: 10px;
  width: 100%;
  border-radius: 7px;
  border: none;
  background-color: #0E0A4B;
  color: white;
}

.login-form-container button:hover{
  background-color: #07006b;
  cursor: pointer;
}

.Nav-Div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background: linear-gradient(to right,  rgba(6, 6, 65, 1), rgba(255, 40, 213, 1))
}

.Nav-Div img{
  margin-left: 50px;
  height: 80%;
}

.links a{
  text-decoration: none;
  margin-right: 50px;
  color: white;
}

.page-title{
  color: #0E0A4B;
  margin-top: 50px;
  margin-left: 50px;
}

.survey-container{
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-top: 50px;
  gap: 50px;
}

.survey-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  color: white;
  font-weight: 400;
  border-radius: 15px;
  text-align: center;
  background:linear-gradient(to bottom right, rgba(255, 40, 213, 1),  rgba(6, 6, 65, 1));
  cursor: pointer;
}

.add-survey-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.add-btn{
  margin-top: 50px;
  padding: 10px;
  width: 200px;
  cursor: pointer;
  background-color:#0E0A4B;
  color: white;
  border-radius: 10px;
  border: none;
}

.add-btn:hover{
  background-color:#07006b;
}

.add-question-container{
  display: flex;
  justify-content: center;
}